*,
*::before,
*::after {
    box-sizing: border-box;
}

*{
    background-color: orange;
    margin:0;
    padding:0;
}

.title {
    color: black;
    border-style: solid;
    border-width:3px;
    border-color: black;
    font-weight: bold;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
    margin:4%;
    background-color:rgb(171, 50, 50);
}

.image {
    display: block;
    margin: 2% auto;
    width: 50%;
    border-style: solid;
    border-width:3px;
    border-color: black;
  }

.list {
    text-align: center;
    list-style: none;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    font-family:'Times New Roman', Times, serif;
}

.home.para {
    color:black;
    margin: 2%;
}

.home {
    text-align: center;
    color: rgb(96, 5, 23);
    font-family:'Times New Roman', Times, serif;
    margin:2%;
}

.listtwo {
    text-align: left;
    font-family:'Times New Roman', Times, serif;
    margin-left:6%;
    margin-right:6%;
    margin-bottom: 6%;
}

#button {
    background-color: rgb(171, 50, 50);
    height: 50px;
    width: 120px;
    margin-top: 2%;
    padding: 2px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    border-style: solid;
    border-width:3px;
    border-color: black;
}