*{
    background-color: orange;
}

.title {
    color: rgb(96, 5, 23);
    font-weight: bold;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
}

.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

.list {
    text-align: center;
    list-style: none;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    font-family:'Times New Roman', Times, serif;
}

.home.para {
    color:black
}

.home {
    text-align: center;
    color: rgb(96, 5, 23);
    font-family:'Times New Roman', Times, serif;
}

.listtwo {
    text-align: left;
    font-family:'Times New Roman', Times, serif;
}

#button {
    background-color: rgb(171, 50, 50);
    margin-bottom:2%;
}